# Python virtual environment 
venv/
env/

# cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# temporary audio files and logs
*.wav
*.mp3
*.log

# Environment variables
.env
secrets/

# Operating System Remnants
Thumbs.db
.DS_Store